In [1]:
import pandas as pd

In [7]:
!ls

ColumnTransformer.joblib  results_NN1.csv  tf-optuna-train.py  utils
MoA_UMAP_continuosVars	  results_NN2.csv  Tmp.ipynb

In [8]:
nn1 = pd.read_csv("results_NN1.csv")
nn1 = nn1.sort_values(by=['score'])
nn1

,Unnamed: 0,activation,batch_size,dropout,epochs,hidden_dim,hidden_layers,lookahead,lr_max,lr_sched,score,time
110,110,elu,200.0,0.50,22.0,1634.0,2.0,0.0,0.064375,OneCycle,0.014877,20.018919
113,113,elu,200.0,0.50,21.0,1662.0,2.0,0.0,0.058408,OneCycle,0.014881,18.505963
121,121,elu,200.0,0.50,22.0,1594.0,2.0,0.0,0.035179,OneCycle,0.014892,19.747640
108,108,elu,200.0,0.50,21.0,1660.0,2.0,0.0,0.048498,OneCycle,0.014917,18.566107
124,124,elu,200.0,0.50,24.0,1442.0,2.0,0.0,0.034639,OneCycle,0.014920,21.844426
...,...,...,...,...,...,...,...,...,...,...,...,...
84,84,elu,96.0,0.10,24.0,1826.0,2.0,0.0,0.029776,OneCycle,0.028937,39.273733
3,3,relu,96.0,0.05,44.0,572.0,4.0,1.0,0.047894,OneCycle,0.032834,123.395412
1,1,elu,128.0,0.30,22.0,1543.0,3.0,1.0,0.000227,OneCycle,0.039191,44.393246
9,9,elu,96.0,0.40,6.0,1548.0,3.0,1.0,0.000578,OneCycle,0.044258,20.098350
19,19,elu,128.0,0.15,4.0,1942.0,1.0,0.0,0.000254,OneCycle,0.080370,5.135785

In [6]:
nn2 = pd.read_csv("results_NN2.csv")
nn2 = nn2.sort_values(by=['score'])
nn2

,Unnamed: 0,activation,batch_size,cell_dim,dropout,epochs,gene_dim,hid1_dim,hid2_dim,lookahead,lr_max,score,time
398,398,elu,160.0,50.0,0.65,15.0,240.0,780.0,1430.0,0.0,0.073800,0.015040,14.924726
359,359,elu,160.0,50.0,0.65,15.0,230.0,770.0,1260.0,0.0,0.079773,0.015040,14.835243
353,353,elu,160.0,50.0,0.65,15.0,220.0,620.0,1130.0,0.0,0.098726,0.015061,13.787192
388,388,elu,160.0,50.0,0.60,13.0,250.0,840.0,1410.0,0.0,0.099821,0.015062,13.138966
366,366,elu,160.0,50.0,0.65,14.0,230.0,800.0,1360.0,0.0,0.080599,0.015063,13.860451
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,2,relu,64.0,10.0,0.20,42.0,150.0,660.0,2000.0,1.0,0.025125,0.030212,86.394868
55,55,elu,96.0,20.0,0.30,28.0,110.0,1820.0,940.0,0.0,0.058359,0.030363,35.537779
8,8,elu,96.0,45.0,0.20,33.0,70.0,2020.0,1470.0,0.0,0.015751,0.032683,46.438599
0,0,relu,160.0,40.0,0.20,43.0,150.0,2060.0,1590.0,0.0,0.068644,0.035449,43.042598
23,23,relu,96.0,15.0,0.15,37.0,40.0,3610.0,790.0,1.0,0.072697,0.036384,68.761647