In [1]:
import pandas as pd

## Dataframe

In [4]:
ej1 = pd.DataFrame({'Apples': [30], 'Bananas': [21]})
ej1

   Apples  Bananas
0      30       21

In [7]:
ej2 = pd.DataFrame({'Apples': [35, 41], 'Bananas': [21, 34]}, index=['2017 Sales', '2018 Sales'])
ej2

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

## Series

In [8]:
ej3 = pd.Series(["4 cups", "1 cup", "2 large", "1 can"],
                index=["Flour", "Milk", "Eggs", "Spam"],
                name="Dinner")
ej3

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

## CSV

In [ ]:
# Read from CSV
csv_df = pd.read_csv("../data/wine-reviews/winemag-data_first150k.csv", index_col=0)

# Write to CSV
csv_df.to_csv("cows_and_goats.csv")

## Excel

In [ ]:
# Read from Excel sheet
pd.read_excel("../data/publicassistance/xls_files_all/WICAgencies2014ytd.xls", 
sheet_name='Pregnant Women Participating')

## SQL

In [ ]:
import sqlite3
conn = sqlite3.connect("../data/pitchfork-data/database.sqlite")
pd.read_sql_query("SELECT * FROM artists", conn)